
<div class="row" ><br/>
<h3 class="prompt">Did <%= @influence.teacher.name %> influence <%= @influence.student.name %>? Discuss.</h3><br/>
  <% @comments.each do |comment| %>
    <span class="comment columns medium-7" ><%= comment.description %> </span>
    <% if comment.vote == 1 %>
      <span class="vote columns medium-4" >Supports Inclusion.</span>
    <%elsif comment.vote == -1 %>
      <span class="vote columns medium-4" >Rejects Inclusion.</span>
    <%else%>
      <span class="vote columns medium-4" >No Vote.</span>
    <%end%>
  <br/>
  <%end%>
</div><br/>

<div class="row" >
<%= form_for([@influence, @comment]) do |f|  %>
  <div class="field">
    <%= f.label :description, class: "label formlabel" %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :vote, :class => "label formlabel" %><br />
    <%= f.select :vote, [[1],[0],[-1]] %>
  </div>

  <div class="actions">
    <%= f.submit "Add Comment", class: "button form-submit submitbutton" %>
  </div>
<% end %>
</div>
